[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "*"
pandas = "*"
nltk = "*"
spacy = "*"
contractions = "==0.1.73"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
